.component-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  background-color: palevioletred;
  width: 100%;
  border: 0;
  padding: 8px 32px;
  margin-bottom: 24px;
  border-bottom: 1px solid #aaa;
}

.component-header-container  button {
  background-color: transparent;
  border: none
}